// 左侧菜单宽度
$base-menu-width: 260px;
$base-menu-bgcolor: #0E2026;
$menuText:#fff;
$base-menu-active-color: yellow;
$base-menu-min-width: 60px;
// 顶部导航
$base-tabbar-height: 48px;
$base-tabbar-border-color: #E9E9E9;

:export {
  menuBg: $base-menu-bgcolor;
  menuText: $menuText;
  menuActiveText: $base-menu-active-color;
}